<tr id="notification-<%= notification.id %>" class="<%= cycle("odd", "even") %>">
  <td class="cb column-cb"><%= check_box_tag "spec_ids[]", notification.id, false, :class => 'toggle-target', :id => "spec_ids_#{notification.id}" %></td>
	<td class="name column-notification-name">
	  <%= link_to(notification.name, notification_path(notification)) %>
	  <div class="row-actions">
	    <% permitted_to?(:update, :notifications) do %>
        <span class="edit"><%= link_to 'Edit', edit_notification_path(notification) %> |</span>
      <% end %>
      <% permitted_to?(:destroy, :notifications) do %>
        <span class="delete"><%= link_to("Delete", { :action => "destroy", :id => notification },
          :confirm => "Are you sure you want to delete this notification?",
          :method => :delete) %> |</span>
      <% end %>
      <span class="view"><%= link_to 'View', notification_path(notification) %></span>
    </div>
	</td>
	<td class="site column-notification-site"><%= h notification.site_name %></td>
	<td class="site column-notification-creator"><%= h notification.creator %></td>
	<td class="site column-notification-recipients"><%= h notification.recipients_list %></td>
</tr>