<% 
  title 'Decorating Services' 
  desc =<<-DESC.strip
    Suzanne Can can help you with your decorating needs. Contact us 
    if you have a decorating project.
  DESC
  description desc
  kws =<<-KWS.strip
    master bath,kitchen,half bath,bedroom,faux finish,hawaiian,country cottage,
    paint,ceramic tile,flooring,shabby chic,garden,home decor,interior,
    decorating ideas,home interior
  KWS
  keywords kws
%>
<div id="main">
  <h1>Decorating Services<em> $40/hr&nbsp;</em></h1>
  <p>
    Do you have rooms that need redecorating?  I can help you pull together all
    aspects; from color schemes to furniture and accessories.
  </p>
  <p>
    Here are some examples of my work:
  </p>  
  <h2>Master Bath Remodel</h2>
  <dl>
  	<dd class="img">
  	  <a rel="lightbox_vlb0" href="/data/images/dscn2118.jpg" title="AFTER: Master Bath Remodel"><%= image_tag "/data/thumbnails/dscn2118.png", :width => 160, :height => 120, :alt => "AFTER: Master Bath Remodel" %><span>See Photos</span></a>
  	</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb0" href="/data/images/dscn0006.jpg" title="AFTER: Master Bath Remodel"></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb0" href="/data/images/dscn0007.jpg" title="AFTER: Master Bath Remodel"></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb0" href="/data/images/dscn0008.jpg" title="AFTER: Master Bath Remodel"></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb0" href="/data/images/dscn2122.jpg" title="AFTER: Master Bath Remodel"></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb0" href="/data/images/dscn2105.jpg" title="BEFORE: Master Bath Remodel"></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb0" href="/data/images/dscn2109.jpg" title="BEFORE: Master Bath Remodel"></a>
		</dd>
  	<dd>
  	  <p>
    	  What began as a major water leak turned into a beautiful, functional 
    	  bathroom remodel.  The bathroom was extremely dated with gold accents 
    	  and cheap cabinets that were falling apart.
  	  </p>
  	  <p>
    	  By remodeling, I was able to enlarge the inside of the shower, move the 
    	  shower head and added inserts to make the space more functional and 
    	  roomy.  The walls were painted a cool Celadon and glass tile in shades 
    	  of green was added for drama.  Brushed nickel was chosen for the faucets, 
    	  accessories and the ceiling fan. The final product is modern yet accessible.
  	  </p>
    </dd>
	</dl>	
	<h2>Kitchen Update</h2>
  <dl class="alt">
  	<dd class="img">
  	  <a rel="lightbox_vlb5" href="/data/images/dscn0219.jpg" title="AFTER: Kitchen Update"><%= image_tag "/data/thumbnails/dscn0219.png", :width => 160, :height => 120, :alt => "AFTER: Kitchen Update" %><span>See Photos</span></a>
  	</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb5" href="/data/images/dscn0214.jpg" title="AFTER: Kitchen Update"></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb5" href="/data/images/dscn0215.jpg" title="AFTER: Kitchen Update"></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb5" href="/data/images/dscn0216.jpg" title="AFTER: Kitchen Update"></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb5" href="/data/images/before-kitchen.jpg" title="BEFORE: Kitchen Update"></a>
		</dd>
  	<dd>
  	  <p>
    	  I began by repainting walls a deep rich wine color, then replacing the 
    	  existing vinyl floor with ceramic tile.  An island was added for 
    	  additional prep and storage space and all the laminate countertops were 
    	  changed to a quartz composite that is both durable and beautiful.
    	</p>
    	<p>  
    	  Custom-made valances and window seat cushions were added for comfort and 
    	  flair.  Finally, drawer pulls were added, as well as accessories.
    	</p>
    </dd>
	</dl>
	<h2>Country Cottage Guest Bedroom</h2>
  <dl>
		<dd class="img">
		  <a rel="lightbox_vlb2" href="/data/images/dscn0200.jpg" title="Country Cottage Guest Bedroom"><%= image_tag "/data/thumbnails/dscn0200.png", :width => 160, :height => 120, :alt => "Country Cottage Guest Bedroom" %><span>See Photos</span></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb2" href="/data/images/dscn0207.jpg" title="Country Cottage Guest Bedroom"></a>
		</dd>
  	<dd>
  	  <p>
    	  This room is a combination of cottage-style, with a mixture of shabby 
    	  chic and garden elements.  The blue walls project a feeling of the 
    	  outdoors and the bright colors and greenery lend a happy, peaceful feeling 
    	  to the space.  This room is a guest favorite.
    	</p>
    </dd>
	</dl>
	<h2>Nature-Inspired Guest Bedroom</h2>
  <dl class="alt">
		<dd class="img">
		  <a rel="lightbox_vlb3" href="/data/images/dscn0197.jpg" title="Nature-Inspired Guest Bedroom"><%= image_tag "/data/thumbnails/dscn0197.png", :width => 160, :height => 120, :alt => "Nature-Inspired Guest Bedroom" %><span>See Photos</span></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb3" href="/data/images/dscn0206.jpg" title="Nature-Inspired Guest Bedroom"></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb3" href="/data/images/dscn0190.jpg" title="Nature-Inspired Guest Bedroom"></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb3" href="/data/images/dscn0198.jpg" title="Nature-Inspired Guest Bedroom"></a>
		</dd>
  	<dd>
  	  <p>
    	  This room began as a sitting room and was recently converted back to a 
    	  bedroom.  The conversion was done very economically, by combining existing 
    	  furnishings with Craigslist and discount store finds.  
    	</p>
    	<p>
    	  The recurring leaf/tree motif gives a cohesive look without seeming too 
    	  themey.  The finished result is a transitional-style, with a few 
    	  eclectic touches, that work in harmony together.
    	</p>
    </dd>
	</dl>
  <h2>Entry Way Update</h2>
  <dl>
    <dd class="img">
      <a rel="lightbox_vlb" href="/data/images/dscn0195.jpg" title="After: Slate Tile & Accessorized"><%= image_tag "/data/thumbnails/dscn0195.png", :width => 160, :height => 120, :alt => "After: Slate Tile & Accessorized" %><span>See Photos</span></a>
		</dd>
		<dd style="display:none;">
      <a rel="lightbox_vlb" href="/data/images/dscn0205.jpg" title="After: Accent Wall"></a>
		</dd>
		<dd style="display:none;">
      <a rel="lightbox_vlb" href="/data/images/dscn1971.jpg" title="Before"></a>
		</dd>
		<dd style="display:none;">
      <a rel="lightbox_vlb" href="/data/images/dscn1976.jpg" title="After: Fireplace Retile"></a>
		</dd>
		<dd style="display:none;">
      <a rel="lightbox_vlb" href="/data/images/dscn1968.jpg" title="Before: Fireplace Retile"></a>
		</dd>		
  	<dd>
  	  <p>
    	  The builder’s grade ceramic tile looked tired and dirty all the time.  
    	  The entry way is a guest’s first glimpse into the warmth and style 
    	  of your home.  Nothing about this space said inviting so the flooring 
    	  was replaced with slate tiles, laid on the diagonal, that were sealed 
    	  with a high gloss finish so all the natural colors would shine through.  
    	</p>
    	<p>
    	  The fireplace surround suffered from the same problem. The new slate 
    	  tile now makes the fireplace a true focal point in the room.
  	  </p>
    </dd>
	</dl>
  <h2>Hawaiian-Themed Bathroom</h2>
  <dl class="alt">
		<dd class="img">
		  <a rel="lightbox_vlb1" href="/data/images/dscn0202.jpg" title="Hawaiian-Themed Bathroom"><%= image_tag "/data/thumbnails/dscn0202.png", :width => 88, :height => 120, :alt => "Hawaiian-Themed Bathroom" %><span>See Photos</span></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb1" href="/data/images/dscn0201.jpg" title="Hawaiian-Themed Bathroom"></a>
		</dd>
		<dd style="display:none;">
      <a rel="lightbox_vlb1" href="/data/images/dscn0208.jpg" title="Hawaiian-Themed Bathroom"></a>
		</dd>
  	<dd>
  	  <p>
  	    By far, this was the most enjoyable project I have undertaken.  Warmth was added to 
  	    the walls by using two different paint colors in tans and browns, 
  	    then Hawaiian-inspired accessories were added to bring whimsy to an 
  	    otherwise dull space.  A capiz-shell curtain was hung above the mirror 
  	    and swept back with hooks.  The discarded sections of the curtain were 
  	    used to create a fringe for the other long mirror.
  	  </p>
    </dd>
	</dl>
	<h2>Half Bathroom Faux Finish</h2>
  <dl>
		<dd class="img">
		  <a rel="lightbox_vlb6" href="/data/images/dscn0209.jpg" title="Half Bath Faux Finish"><%= image_tag "/data/thumbnails/dscn0209.png", :width => 88, :height => 120, :alt => "Half Bath Faux Finish" %><span>See Photos</span></a>
		</dd>
		<dd style="display:none;">
		  <a rel="lightbox_vlb6" href="/data/images/dscn0211.jpg" title="Half Bath Faux Finish"></a>
		</dd>
		<dd style="display:none;">
      <a rel="lightbox_vlb6" href="/data/images/dscn0537.jpg" title="Half Bath Faux Finish"></a>
		</dd>
  	<dd>
  	  <p>
  	    This room began as a Pepto pink nightmare.  The walls were neutralized 
  	    with cream-colored paint and then color-washed with taupe.  Stenciled 
  	    stars were added in a random pattern to create visual interest and 
  	    finally tasteful accessories completed the space.
  	  </p>
    </dd>
	</dl>
</div>
<hr/>
<div id="sidebar">
  <%= render :partial => 'shared/contact' %>
</div>


<% content_for(:head) do %>
  <link rel="stylesheet" href="/engine/css/vlightbox.css" type="text/css" />
  <style type="text/css">
    #vlightbox a#vlb{display:none}
  </style>
  <link rel="stylesheet" href="/engine/css/visuallightbox.css" type="text/css" media="screen" />
<% end %>

<% content_for(:js) do %>
  <script src="/engine/js/visuallightbox.js" type="text/javascript"></script>
<% end %>