<h4><a href="http://neatoidea.com/" target="_blank">Web design by neatoidea</a></h4>
<ul>
  <li><%= link_to 'About', pages_path('about'), :title => 'Find out more about Suzanne Can.' %></li>
  <li><%= link_to 'Services', pages_path('services'), :title => 'Find out more about Suzanne Can personal concierge services.' %></li>
  <li><%= link_to 'Rates', pages_path('rates'), :title => 'Find out more about Suzanne Can rates and policies.' %></li>
  <li><%= link_to 'FAQ', pages_path('faq'), :title => 'Get answers to your questions.' %></li>
  <!-- <li><%= link_to 'Blog', '/blog', :title => 'The Suzanne Can blog.' %></li> -->
  <li><%= link_to 'Contact', contact_path, :title => 'Find out how to contact me or leave a message.' %></li>
</ul>
<p>© <%= current_year %> Suzanne Can, LLC.</p>
<!-- <p><%= link_to 'Login', '/blog/wp-admin/index.php', :title => 'Blog Login.' %></p> -->