<div id="logo">
  <a href="http://suzannecan.com/"></a>
</div>
<div id="sitenav">
  <ul>
    <li id="nav-home"><%= link_to 'Home', root_path %></li>
    <li id="nav-about"><%= link_to 'About', pages_path('about') %></li>
    <li id="nav-services"><%= link_to 'Services', pages_path('services') %></li>
    <li id="nav-rates"><%= link_to 'Rates', pages_path('rates') %></li>
    <li id="nav-faq"><%= link_to 'FAQ', pages_path('faq') %></li>
    <!-- <li id="nav-blog"><%= link_to 'Blog', "/blog" %></li> -->
    <li id="nav-contact"><%= link_to 'Contact', contact_path %></li>
  </ul>
</div>
<ul id="supernav">
  <li id="nav-bookmark">
    <a href="http://suzannecan.com" class="jqbookmark" rel="nofollow" target="_blank" title="Suzanne Can &#8212; Personal &amp; Business Assistance Services">Bookmark Suzanne Can</a>
  </li>
  <li id="nav-twitter">
    <a href="http://twitter.com/suzanne_can" rel="nofollow" target="_blank" title="The Suzanne Can Twitter feed.">@suzanne_can</a>
  </li>
  <li id="nav-angie">
    <a href="http://www.angieslist.com/AngiesList/MyAngie/CheckTheList/spinformation.aspx?44Vv12x4GpYRpi0LMWC0nc6SEOL8C%2fL3T9foBHxImVn9fOa1TBNES6gJWCXVJapEdKxUFDYxDaoB%0d%0ajmUfoVsf5Q%3d%3d" rel="nofollow" target="_blank" title="Our listing on Angie's List.">Angie's List</a>
  </li>
</ul>