<%= image_tag('gf-dk-logo.png', :id => 'header-logo') %>
<h1 id="site-heading">
  SCIMS
  <% if current_user? %>
    <% if current_user.site %>
      &#8212;
      <% if current_user.can_change_sites? %>
        <a href="/change-site">
          <span id="site-title"><%= current_user.site.name %></span>
          <em id="site-change-button">Change</em>
        </a>
      <% else -%>
         <span id="site-title"><%= current_user.site.name %></span>
      <% end %>
    <% end %>
  <% end %>
</h1>
<div id="gfhead-info">
  <% if current_user? %>
    <div id="user_info">
      <p>Hello, <%= "#{current_user.username}" %> | <%= link_to('Sign Out', signout_path) %></p>
    </div>
  <% end %>
</div>
